* { margin:0; padding:0; box-sizing:border-box; }
body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: silver;
  font-weight: bold;
  background-image: url(Images/Maserati2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-weight: 800;
}
	
#slogan {
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
  	font-weight: 800;
  	font-weight: bold;
  	color: white;
}

nav {
	font-family: 'Roboto', sans-serif;
	background-color: #c7ccf;
}

a {
	display: block;
	color: black;
	text-decoration: none;
	float: left;
	padding:20px;
}

#models 
	img {
		width:100%;
		padding:.5em, auto;
		margin: .5em;
		box-sizing; 1em;
		background-color:#c7ccf;
		border: 20px solid black;
}

.models {
	border: 20px solid black;
}

#models>section {
	width: 16%;
	float: left;
	padding:.8em;
	border: 2px;
	border-color: black;
	background-color: #c7ccf;
}

a:hover {
	background-color: #aaaaaa;
}


footer {
	color: blue;
	background-color: #c7ccf;
	text-align: center;
	width: 100%;
	position: fixed; bottom: 20px;
	margin: 30px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color blue;
	opacity: 0.6;
	font-weight; bold;
}

h3 {
	font-size: 2.5em;
	line-height:1.3em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background-color: #bbc0c5;
	width: :100%;
}

p {
	color: #fff;
	text-align: left;
	background-color: gray;
	line-height: 1.2em;
	letter-spacing: 2px;
}
.wrapper {
	max-width:60em;
	margin:auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
