* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-size:20px;
	font-family: 'Lobster Two', cursive;
}

.slogan { 
	text-align: center;
	font-family: 'Lobster 2', cursive;
	font-weight: 800;
	line-height: 35px;
	background-color: #c7ccf
}

header {
	text-align: center;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	font-family: 'Lobster 2', cursive;
	background-color:#002030;
	color:#999999;
}
section#splash {
	background-image:url(Images/Maserati22.jpg);
	text-align: center;
	font-family: 'Lobster 2, cursive;
	background-repeat:no-repeat;
	background-size:cover;	
	height: 100vh;
}

#models 
	img {
		width:100%;
		padding:.5em, auto;
		margin: .5em;
		box-sizing; 1em;
		background-color:#c7ccf;
}

#models>section {
	width: 16%;
	float: left;
	padding:.8em;
	border: 2px;
	border-color: black;
	background-color: #c7ccf;
}

footer {
	color: blue;
	background-color: #c7ccf;
	text-align: center;
	width: 100%;
}

h1 {
	font-family: Lobster 2, cursive;
	font-size: 2em;
	text-transform: uppercase;
	color blue;
	opacity: 0.6;
	font-weight; bold;
}

h3 {
	font-size: 2.5em;
	line-height:1.3em;
	text-align: center;
	font-family: 'Lobster 2', cursive;
	font-weight: bold;
	background-color: #bbc0c5;
}

p {
	color: #fff;
	text-align: left;
	background-color: gray;
	line-height: 1.2em;
	letter-spacing: 2px;
}
.wrapper {
	max-width:60em;
	margin:auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}