body {
	background-color: black;
	color:#ffffff;
	text-align: center;
}

h1 {
	color: red;
	font-family: Arial, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	color: red;
	font-size: 22px;
}

p {
	font-weight: bold;
	font-style: italic;
	font-size: 28px;
}
ul {
	text-transform: uppercase;
	text-align: left;
	color: red;
}
