* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-size:45px;
	font-family: 'Lato', sans-serif;
	font-style: bold;
	background-image:url(Images/jobs1.jpg);
	background-repeat: no-repeat;
	height: 100%
}

section#splash {
	text-align: center;
	background-repeat:no-repeat;
	color:#333;
	font-size:45px;
	font-family: 'Lato', sans-serif;
	font-style: bold;
}

header {
	text-align: center;
	font-weight: 400;
	font-style: italic;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	background-color:#002030;
	color:#999999;
}

#jobs {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	color: green;	
	line-height: 25px;
	padding: 1em;
	float: left;
}

#main {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	color: green;	
	line-height: 25px;
	padding: 1em;
} 

#employer {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	color: green;
	border: 20px solid black;
	line-height: 25px
}

footer {
	line-height: 15px;
	color: black;
	text-align: center;
	border: 20px solid black;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
