* { margin:0; padding:0; box-sizing:border-box; }
body {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  color: green;
  font-weight: bold;
  background-image: url(Images/jobs1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;	
  text-align: center;
  font-weight: 800;
}

#main {
	padding:.5em, auto;
	margin: .5em;
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
  	font-weight: 800;
  	font-weight: bold;
  	color: green;
  	line-height: 1.2em;
	letter-spacing: 2px;
}

#jobs {
	padding:.5em, auto;
	margin: .5em;
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	text-align: center;
  	font-weight: 800;
  	font-weight: bold;
  	color: green;
  	line-height: 1.2em;
	letter-spacing: 2px;
	float: left;
}


#employer {
	padding:.5em, auto;
	margin: .5em;;
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	text-align: center;
  	font-weight: 800;
  	font-weight: bold;
  	color: green;
  	line-height: 1.2em;
	letter-spacing: 2px;
}

footer {
	line-height: 15px;
	color: black;
	text-align: center;
	border: 10px solid black;
	width: 100%;
	position: fixed; bottom: 20px;
	margin: 30px;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
